
<div id="id-{{instanceId}}">
<div class="ceb-main-wrapper" id="cebMainWrapper">
  <div class="ceb-main-content" id="cebMainContent">
    <div class="w-100">
      <div class="w-100">
        <div class="ceb-search-container">
          <div class="ceb-search">
            <input
              type="text"
              class="form-control"
              id="cebSearchInput"
              placeholder="{{#str}}searchbarplaceholder, block_course_explorer{{/str}}"
              aria-label="{{#str}}searchbarplaceholder, block_course_explorer{{/str}}"
            />
            <button class="btn btn-link" id="cebClearSearch" aria-label="{{#str}}searchclearbtn, block_course_explorer{{/str}}">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <div
        id="cebDropDownContainer"
        class="ceb-filter-dropdown-container"
      ></div>
      <div class="w-100 ceb-pagination-container top">
        <div class="ceb-total-count" id="cebCourseCount"></div>
        <div class="ceb-sort-container" id="cebSortContainer"></div>
        <div class="ceb-top-pagination" id="cebTopPaginationContainer"></div>
      </div>
      <div id="cebMainContainer" class="ceb_res_container"></div>
      <div class="w-100 ceb-pagination-container bottom">
        <div class="ceb-bottom-pagination" id="cebBottomPaginationContainer"></div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal ceb-modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
  id="ceb_modal"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Course title</h4>
            <div class="close-button">
                <button
                        type="button"
                        class="btn btn-primary rounded-circle"
                        data-dismiss="modal"
                        aria-label="{{#str}}closemodalbtn, block_course_explorer{{/str}}"
                >
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
      <div class="modal-dynamic-content"></div>
    </div>
  </div>
</div>
</div>
